## Core latex/pdflatex auxiliary files:
*.aux
*.auxlock
*.log
*.out
*.toc
*.bbl
*-blx.bib
*.blg
*.run.xml
*.synctex.gz
*.bcf
*.tdo
*.dpth
*.md5
*.idx
*.ilg
*.ind
*.bib.sav
*.pdf
*.lof
*.lot
*.nav
*.snm
!images/*.pdf
